<form id="emotion-form" action="{{ url_for('get_rec_songs') }}" method="GET">
  <div>
    <label>Choose emotions</label><br>
    {% for key, value in emotion_dict.items() %}
    <button type="submit" name="emotion" value="{{ value }}">{{ value }}</button>
    {% endfor %}
  </div>
</form>

<form id="webcam-emotion-form" action="{{ url_for('get_rec_songs') }}" method="GET">
  <label for="emotion-input">Emotion from webcam:</label>
  <input type="text" id="emotion-input" name="emotion" value="None" required readonly>
  <button id="start-emotion-detector" type="button" onclick="startWebcam()">Detect by Webcam</button>
  <div id="loading-indicator" style="display:none">Detecting emotion...</div>
</form>

<div class="emotion-detector" id="emotion-detector">
  <h2 align="center" class="subtitle">Emotion Detector</h2>
  <div class="video-container">
  </div>
</div>