<div>
  <label for="emotion-select">How are you feeling?</label>
  <select id="emotion-select">
    {% for key, value in emotion_dict.items() %}
    <option value="{{ value }}">{{ value }}</option>
    {% endfor %}
  </select>
  <button id="start-emotion-detector" type="button" onclick="startWebcam()">Detect by Webcam</button>
  <div id="loading-indicator" style="display:none">Detecting emotion...</div>
</div>

<form id="emotion-form" action="{{ url_for('get_rec_songs') }}" method="GET">
  <label for="selected-emotion">Your Emotion:</label>
  <input type="text" id="selected-emotion" name="emotion" required readonly>
  <button type="submit">Get Recommendations</button>
</form>

<div class="emotion-detector" id="emotion-detector">
  <h2 align="center" class="subtitle">Emotion Detector</h2>
  <div class="video-container">
  </div>
</div>